body{
    text-align: center;
    margin: 0;
    background-color: #4e7dba;
}

#title{
    padding: 10px;
    margin-bottom: 10px;
    
}

.inserts{
    background-color: cyan;
}



#carddisplay {
    font-size: 2vh;
}